
.img_content {
    display: none;
    position: fixed; 
    top: 20%;
    left: 40%;       
    background-color: white; 
    z-index:1002; 
    overflow: auto;
	border: solid 1px #3488db;
	height:560px;
	width:420px;
}
.colse_btn {
    border: solid 1px #3488db;
    color: white;
    margin-right: 10px;
	margin-top: 8px;
    height: 30px;
	line-height:30px;
    width: 60px;
    background: #3488db;
	border-radius: .5em;
	display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
	float:right;
}